*{
    margin:0;
    Padding:0;
    box-sizing: border-box;
    font-family: "Open Sans";
    overflow:auto;
    font-size:1em;
}

h1,h3,h4,h6{
    font-weight: normal;
}

h1{
    font-size:3em;
}

h3{
    font-size:1.5em;
}

h4{
    font-size:1.25em;
}

h6{
    font-size:1em;
}

a:link{
    text-decoration:none;
}

a:visited{
    color:#B7C8D9;
}

a:hover{
    text-decoration:underline;
}

img {
    max-width:100%;
    width:auto;
    height:auto;
}

button {
    color:#fff;
    border:2px solid #fff;
    background:none;
}

main{
    color:#323436;
}

input::placeholder{
    color:rgb(50,52,54);
}

.header{
    position:relative;
    color:#fff;
}

.header img {
    margin:0 auto;
    width:100%;
}

.centered-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

.centered-header span{
    font-size:2em;
}

.centered-header h1,.top-left-header h4{
    width:100%;
    text-transform:uppercase;
    letter-spacing:0.2em;
}

.top-left-header {
    position:absolute;
    top:10%;
    left:5%;
}

.header button{
    padding:1% 5% 1% 5%;
    position:absolute;
    left: 50%;
    bottom:15%;
    transform: translate(-50%, -50%);
    background:rgb(50,52,54,0.5);
}

.header button:hover{
    background:rgb(50,52,54,1);
}

.main-nav{
    position:absolute;
    top:10%;
    right:5%;
    text-align:right;
    width:100%;
}

.main-nav a{
    color:#fff;
    padding-left:5%;
}

.about{
    display:flex;
    padding-left:5%;
    padding-right:5%;
    margin-top:10%;
    margin-bottom:10%;
}

.about-left, .about-right {
    flex:50%;
}

.about-left{
    font-size:1.5em;
}

.articles{
    background:#f0f0f0;
    padding-right:5%;
    padding-left:5%;
}

.articles .articles-header{
    padding-top:10%;
    padding-bottom:5%;
    text-align:center;
}

.articles .article-items .article-france,.articles .article-items .article-america{
    display:flex;
    align-items:center;
    margin-top:1%;
}

.articles .article-items .article-america{
    flex-direction:row-reverse;
}

.articles .article-items .article-img{
    flex:60%;
    position:relative;
    color:#fff;
}

.articles .article-items .article-img:after{
    content: '';
    position: absolute;
    top:0; 
    left:0; 
    bottom:0; 
    right:0;
    background:radial-gradient(circle, transparent 50%, #000 150%);
}

.articles .article-items .article-img img{
    width:100%;
}

.articles .article-items .article-img button{
    position:absolute;
    top:5%;
    right:2%;
    padding:1%;
    background:rgb(50,52,54,0.5);
    z-index:3;
}

.articles .article-items .article-img button:hover{
    background:rgb(50,52,54,1);
}

.articles .article-items .article-img h6{
    position:absolute;
    left:2%;
    bottom:5%;
    z-index:3;
}

.articles .article-items .article-text{
    flex:40%;
    text-align:center;
}

.articles .email-form{
    background:#fff;
    margin-top:4%;
    margin-bottom:4%;
    padding:3% 2% 3% 2%;
}

.email-form .input-email{
    display:flex;
    align-items:center;
}

.email-form .input-email h3{
    flex:25%;
}

.email-form .input-email input{
    flex:55%;
    border:1px solid #323436;
    padding:1%;
    background:#f0f0f0;
}


.email-form .input-email button{
    flex:20%;
    background:#323436;
    border:3px solid #323436;
    padding:1%;
}

.email-form .input-email button:hover{
    opacity:0.5;
}

footer{
    padding-right:5%;
    padding-left:5%;
    color:#a4a4a4;
}

footer h4{
    color:#323436;
}

.footer-column{
    display:flex;
    padding-top:10%;
    padding-bottom:10%;
}

.footer-column .column-item{
    flex:25%;
}

.footer-column .column-item p{
    padding-top:2%;
}

.footer-column .column-item:nth-of-type(2) p{
    font-style:italic;
}

.footer-column .column-item:nth-of-type(2) p:last-child{
    color:rgb(240,240,240);
    font-style:normal;
    font-weight:bold;
}

.footer-column .column-item .email-footer{
    display:flex;
    padding-top:2%;
}

.footer-column .column-item .email-footer input{
    flex:70%;
    border:1px solid #323436;
    padding:1%;
    background:#f0f0f0;
}

.footer-column .column-item .email-footer button{
    flex:30%;
    background:#323436;
    border:3px solid #323436;
    padding:1%;
}

.footer-column .column-item .email-footer button:hover{
    opacity:0.5;
}

.footer-bottom{
    padding-top:1%;
    padding-bottom:1%;
    display:flex;
}

.footer-bottom p{
    flex:50%;
}

.footer-bottom .footer-nav a{
    flex:50%;
    flex-direction:row-reverse;
    color:#323436;
    padding-left:3%;
}

.footer-bottom .footer-nav{
    text-align:right;
    width:100%;  
}

hr{
    background:rgb(240,240,240);
    height:2px;
    border:none;
}