@media print {
    .tm-main-content {
        margin-left: 0px;
        padding-left: 30px
    }
    .tm-banner {
        max-height: 200px;
    }
    .tm-banner-inner img {
        padding-top: 10px;
    }
    .flex-2-col {
        display: block;
    }
    .tm-team-description-container {
        max-width: 100%;
    }
    .flex-item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .tm-team-description-container .tm-section-title {
        color: blue;
    }
    .flex-item {
        padding-top:0px;
        padding-bottom: 0px;
    }
    .tm-main-nav, #about.tm-content-box, .heading.tm-content-box, .blocks, #ideas, #ideas+.tm-content-box{
        display: none;
    }
}

