.main-wrapper{
    width: 960px;
    margin: 0 auto;
    background-color:$bgColorMain;
    font-family:$fontContent;
    color:$fontParagraphColor;
    
    h1,h4{
        color:$fontHeaderColor;
        text-transform:uppercase;
    }
    
    h3{
        color:$fontHeaderBoxColor;
        text-transform:uppercase;
    }

    header{
        display:inline;
        margin-left:2%;
        margin-right:2%;
        
        .logo{
            display:inline;
            
            img {
                max-width:40%;
            }
        }
        
        nav {
            display:inline;
            max-width:60%;
            height:30%;
            color:$fontHeaderColor;
            font-size:1em;
            text-transform:uppercase;
            border-top:1px solid $borderColor;
            border-bottom:1px solid $borderColor;
            padding-top:2%;
            padding-bottom:2%;
            
            a{
                margin:6%;
            }
            a:link{
                color:$fontHeaderColor;
                text-decoration:none;
            }
            a:hover{
                color:$fontHeaderColor;
                text-decoration:underline;
            }
            a:visited{
                color:darken($fontHeaderColor,20%);
                text-decoration:none;
            }
        }
    }
    
    .toolbar {
        display: block;
        margin:2%;

        input {
        }
    }
    
    //max-width:100%;
    //margin-left:15%;
    //margin-right:15%;
    
    .post-list {
        display:flex;
        flex-wrap:wrap;
        
        article {
            flex:40%;
            //resize:vertical;
            background-color:$colorPostList;
            margin-left:2%;
            margin-right:2%;
            margin-bottom:2%;
            padding:1%;
          
            img {
                max-width:100%;
            }
        }
    }
    
    .about{
        margin-left:2%;
        margin-right:2%;
        
        img{
            max-width:100%;
        }
    }
    
    .contact-form{
        margin-left:2%;
        margin-right:2%;
        
        h4{
            float:right;
        }
        
        h1{
            float:right;
        }
        
        .form-control{
            width:100%;
            border: 1px solid $borderColor;
            margin-top:1%;
            margin-bottom:1%;
            padding:1%;
            font-size:1em;
        }
        
        .submit-btn{
            background-color:$fontHeaderColor;
            border:0px;
            color:#fff;
            padding:1% 7% 1% 7%;
        }
        .submit-btn:hover{
            background-color:darken($fontHeaderColor,20%);
        }
        
    }
    
    footer {
        margin-left:2%;
        margin-right:2%;
        font-size:0.75em;
    }
}