.main-wrapper{
    width:960px;
    margin: 0 auto;
    padding-left:5%;
    padding-right:5%;
    background-color:$bgColorMain;
    font-family:$fontContent;
    color:$fontParagraphColor;
    
    h1,h4{
        color:$fontHeaderColor;
        text-transform:uppercase;
    }
    
    h3{
        color:$fontHeaderBoxColor;
        text-transform:uppercase;
        margin:1%;
    }
    
    p{
        margin-top:1%;
        margin-left:1%;
        margin-right:1%;
    }

    header{
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        margin-left:2%;
        margin-right:2%;
        max-Width:100%;
        height:100%;
        
        .logo{
            flex:40%;
            
            img {
                max-width:100%;
            }
        }
        
        nav {
            flex:60%;
            max-width:60%;
            height:30%;
            color:$fontHeaderColor;
            font-size:1em;
            text-transform:uppercase;
            border-top:1px solid $borderColor;
            border-bottom:1px solid $borderColor;
            padding-top:2%;
            padding-bottom:2%;
            margin-top:auto;
            margin-bottom:3%;
            
            a{
                margin:11%;
            }
            a:link{
                color:$fontHeaderColor;
                text-decoration:none;
            }
            a:hover{
                color:$fontHeaderColor;
                text-decoration:underline;
            }
            a:visited{
                color:darken($fontHeaderColor,20%);
                text-decoration:none;
            }
        }
    }
    
    .toolbar {
        display:flex;
        flex-direction:row-reverse;
        margin:2%;
        
        input{
            border:1px solid $fontHeaderColor;
            padding:1%;
            background:none;
        }
        
        input::placeholder{
            color:$fontHeaderColor;
        }
    }
    
    .post-list {
        display:flex;
        flex-wrap:wrap;
        
        article {
            flex:40%;
            height:100%;
            background-color:$colorPostList;
            margin-left:2%;
            margin-right:2%;
            margin-bottom:2%;
            padding:1%;
          
            img {
                max-width:100%;
            }
            
            .post-description{
                color:$borderColor;
                border-bottom:1px solid $borderColor;
                padding-top:1%;
                padding-bottom:2%;
                font-size:0.8em;
                margin-left:1%;
                margin-right:1%;
            }
        }
    }
    
    .about{
        margin-left:2%;
        margin-right:2%;
        
        h1{
            display:flex;
            flex-direction:row-reverse;
        }
        
        img{
            max-width:100%;
        }
    }
    
    .contact-form{
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        margin-left:2%;
        margin-right:2%;
        
        h1{
            display:flex;
            flex-direction:row-reverse;
            margin-bottom:0;
            margin-top:5%;
        }
        
        h4{
            display:flex;
            flex-direction:row-reverse;
            margin-top:0;
        }
        
        .form-control{
            //display:flex;
            //flex-direction:column;
            display:table;
            width:100%;
            border: 1px solid $borderColor;
            margin-top:1%;
            margin-bottom:1%;
            background:none;
            padding:1%;
            font-size:1em;
        }
        
        .submit-btn{
            //display:flex;
            //flex-direction:row-reverse;
            display:table;
            float:right;
            background-color:$fontHeaderColor;
            border:0px;
            color:#fff;
            padding:1% 7% 1% 7%;
        }
        .submit-btn:hover{
            background-color:darken($fontHeaderColor,20%);
        }
        
    }
    
    footer {
        margin-left:2%;
        margin-right:2%;
        font-size:0.75em;
    }
}