section, h1, .add-task-btn, div, p {
    margin: 3% 15% 3% 15%;
}

h1, p {
    text-align: center;
}

.main-page button, input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cancel-save-btns {
    margin-left: 40%;
}

.cancel-btn {
    margin-right: 7%;
}