section, h1, .add-todo-btn, div, p {
    margin: 3% 15% 3% 15%;
}

h1, p, .cancel-save-btns {
    text-align: center;
}

.main-page button, input, .cancel-save-btns {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-item-page, .modify-item {
    display: none;
}